@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roppins', sans-serif;
  background-color: antiquewhite;
  margin: 0;
}

.slide {
  position: relative;

  img {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;
  }
}

.container {
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-weight: normal;
    font-size: clamp(1rem, 2.5vw, 4rem);
  }

  .countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .countdown-item {
      text-align: center;

      .text {
        font-weight: bold;
        font-size: clamp(2.5rem, 4vw, 5rem);
        line-height: 1;
        margin: 0 2rem;
      }

      span {
        font-size: clamp(0.5rem, 2.5vw, 1.3rem);
      }
    }
  }

  .box {
    margin: 5rem 0 0 5rem;

    p {
      font-size: clamp(1rem, 2vw, 2.5rem);
    }
  }
}
